/* add font from ttf file */
@font-face {
  font-family: "PokeFont";
  src: url("../fonts/Pokemon_Solid.ttf") format("truetype");
}
:root {
  --primary: #ff0000; /* Pokémon Red (Primary Brand Color) */
  --danger: #cc0000; /* Darker Red (Error/Alerts) */
  --warning: #ffde00; /* Pikachu Yellow (Warnings) */
  --secondary: #3b4cca; /* Pokémon Blue (Secondary Color) */
  --info: #0075be; /* Lighter Blue (Info/Water-Type) */
  --font-color: #2a2a2a; /* Dark Gray (Main Text) */
  --font-color-dark: #000000; /* Pure Black (Headings) */
  --grass-type: #78c850; /* Bulbasaur Green */
  --fire-type: #f08030; /* Charizard Orange */
  --water-type: #6890f0; /* Squirtle Blue */
  --electric-type: #f8d030; /* Pikachu Yellow (Brighter) */
  --pokeball-accent: #ffffff; /* White (For Contrast) */
  --rare: #f5d23b;
  --gold: #d4af37;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Limelight", sans-serif;
  color: var(--font-color-dark);
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
p {
  margin-bottom: 1em;
}
body {
  font-family: "Noto Serif", serif;
  line-height: 1.6;
  color: var(--font-color);
  max-width: 1200px;
  margin: 0 auto;
  min-width: 300px;
}

header {
  background: var(--electric-type);
  color: var(--pokeball-accent);
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  font-family: "PokeFont", sans-serif;
}
header h1 {
  font-size: 2.5rem;
  margin-top: 0;
}

/* hero section */
.hero {
  background: var(--water-type);
  color: var(--pokeball-accent);
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
}
.hero img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* card container */
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.card img {
  margin: auto;
  max-width: 80%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.card h5 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: var(--pokeball-accent);
}
.card ul li {
  list-style: none; /* Elimina el marcador predeterminado */
  position: relative;
  padding-left: 1rem;
}
.card ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25rem;
  width: 1rem;
  height: 1rem;
  background-image: url("../images/pokeball_icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.card a {
  display: block;
  text-decoration: none;
  font-weight: 800;
  color: var(--font-color-dark);
  background: var(--warning);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin-top: 1rem;
}

.font-pokemon {
  font-family: "PokeFont", sans-serif;
  margin-bottom: 1rem;
  letter-spacing: 5px;
}

.red-box {
  background: var(--primary);
  color: white;
  padding: 1rem;
  min-width: 200px;
}

.blue-box {
  background: var(--secondary);
  color: white;
  padding: 1rem;

  min-width: 200px;
}

footer {
  background: var(--primary);
  color: var(--pokeball-accent);
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  margin-top: 2rem;
}
