@media (min-width: 600px) {
    header {
        display: flex;
        justify-content: center;
    }

    #menu {
        display: none;
        /* hide hamburger button */
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    .cards {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 1.5rem;

    }

    .card {
        box-shadow: 10px 6px 15px 6px rgba(0, 0, 0, 0.36);

    }

    footer {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }

    .row-footer {
        display: flex;
        align-items: center;
        gap: .75rem;
    }

    .container-spot {
        flex-direction: row;
    }

    .container-discover {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 0px;
    }

    .aside-bar,
    .info-membership {
        grid-area: 1 / 1 / 2 / 2;
    }

    .pics,
    .form-class {
        grid-area: 1 / 2 / 2 / 3;
    }

    /*CSS form*/
    .info-membership {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
    }

    /*------------------ DIRECTORY CSS -----------------*/
    .grid {
        display: grid;
        width: 80%;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .grid .business-container {
        margin: 0 auto;
        width: 300px;
        height: 200px;
    }

    .list .business-container {
        width: 800px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .list img {
        display: none;
    }

    .list .business-container:nth-child(odd) {
        background-color: white;
    }
}