@media screen and (max-width: 500px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
  }
  main {
    grid-template-columns: 1fr;
  }
  .card .text-image {
    flex-direction: column;
  }

  #navToggle {
    display: block;
  }

  nav {
    display: none;
  }

  nav.open {
    display: block;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }
  .col-grid-1 {
  grid-column: span 5;
}
.col-grid-2 {
  grid-column: span 5;
}
.col-grid-3 {
  grid-column: span 5;
}
.col-grid-4 {
  grid-column: span 5;
}
.col-grid-5 {
  grid-column: span 5;
}
}
